body{ background-color: rgb(89, 85, 85);
    height:750px }
    td{border-radius: 5px;
        width: 5%;
        height:8.3%;
    border-width: 3px;}
        td:hover{transform: scale(1.2);
            z-index: 100;}
table{height: 100%;
    width: 100%;}
    .Letra{font-size: 50px;text-align: center;color: blanchedalmond;}
    .lol{ border: none; background-color:rgb(89, 85, 85); }
    .mescla{border: none;}  
    .num{color: white;}
    .sigla{
        color: white;
        text-align: center;
    font-size: x-large;}
    .nome{color: white;
        text-align: center;
    font-size: small;}
    .legenda{color: white; 
        text-align: center;
    font-size: x-large;}
    .Amarelo{border-color: #d8cc2b;}
    .Verde{border-color: #8ed110;}
    .Laranja{border-color: #f1b200;}
    .Vermelho{border-color: #f35959;}
    .Claro{border-color: #b4eafc;}
    .Blue{border-color: #4db6ac;}
    .Azul{border-color: #57d2ff;}
    .Escuro{border-color: #0876c4;}
    .Neon{border-color: #8ef7ff;}
    .Roxo{border-color: #970d85;}